<!--Patrick Jensen (mxf667) & Frederik Jeppesen (wcn773)-->
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url('/static/baggrund.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
</head>
<body>
<title>Volt</title>
<div class = "background"> 
<h1>Customer Hompage</h1>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset style = "background-color: rgb(180, 230, 255);">
                <div>
                    {{ form.choice.label(class="form-control-label") }}
                    {% if form.choice.errors %}
                        {{ form.choice(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.choice.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.choice(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div>
                {{ form.takeout(class="btn btn-outline-info") }} I'm picking up the order myself.<br><br>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </fieldset><br>
            <div>
                <a href="{{ url_for('Customer.myorders') }}">My Orders</a><br><br>
                <a class="nav-item nav-link" href="{{ url_for('Login.logout') }}">Logout</a>
                
            </div>
        </form>
    </div>
</body>
</html>
{% endblock content %}
