<!--Patrick Jensen (mxf667) & Frederik Jeppesen (wcn773)-->
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url('/static/baggrund.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
</head>
<body>
  <h1>{{ current_user.name }}</h1>
  <div class="content-section">	
    <h1>Your Courier Orders</h1>
    <table style = "background-color: rgb(180, 230, 255);">
      <thead>
        <tr>
          <th scope="col">Order nr.</th>
          <th scope="col">Time of order</th>
          <th scope="col">Meal name</th>
          <th scope="col">Price</th>
          <th scope="col">Nr of dishes</th>
          <th scope="col">Restaurant</th>
          <th scope="col">City</th>
          <th scope="col">ETA</th>
        </tr>
      </thead>
      <tbody>
      {% for n in inv_cd_list1 %}
        <tr>
          <td scope="row">{{n[0]}}</td>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
          <td>{{n[4]}}</td>
          <td>{{n[5]}}</td>
          <td>{{n[6]}}</td>
          <td>{{n[7]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div><br>
  <div class="content-section">	
    <h1>Your Take-out Orders</h1>
    <table style = "background-color: rgb(180, 230, 255);">
      <thead>
        <tr>
          <th scope="col">Order nr.</th>
          <th scope="col">Time of order</th>
          <th scope="col">Meal name</th>
          <th scope="col">Price</th>
          <th scope="col">Nr of dishes</th>
          <th scope="col">Restaurant</th>
          <th scope="col">City</th>
          <th scope="col">Pick-up time</th>
        </tr>
      </thead>
      <tbody>
      {% for n in inv_cd_list2 %}
        <tr>
          <td scope="row">{{n[0]}}</td>
          <td>{{n[1]}}</td>
          <td>{{n[2]}}</td>
          <td>{{n[3]}}</td>
          <td>{{n[4]}}</td>
          <td>{{n[5]}}</td>
          <td>{{n[6]}}</td>
          <td>{{n[7]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div><br>
  <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('cusHomepage.customerHomepage') }}">Make a new order</a><br><br>
      <a class="nav-item nav-link" href="{{ url_for('Login.logout') }}">Logout</a>
  </div>
</body>
</html>
{% endblock content %}
